<%= link_to image_tag(@novines.first.image,
style:"margin-bottom:2em; width:560px; heigh:auto;
nav-link; nav-right;"),
@novines.first.image %>
<%= link_to image_tag(novine.image,
style:"width:15em; heigh:auto"), novine.image %>
<% if @pagy && @pagy.count >
@pagy.overflow %>
<div class="mt-10">
  <%== pagy_nav(@pagy) %>
</div>
<% end %>

limit
query
search
if params[:search]
  @posts = Post.search(params[:search]).
  order("created_at DESC")
else
  @posts = Post.all.order('created_at DESC')
end
#@novines = Novine.order('created_at DESC').
#search(params[:search])

@pagy_inv, @invoices = pagy @invoices.reorder(
  sort_column_show_city_invoices =>
  sort_direction_show_city_invoices),
  items: params.fetch(:count, 10)
@pagy_ord, @orders = pagy @orders.reorder(
  sort_column_show_city_orders =>
  sort_direction_show_city_orders),
  items: params.fetch(:count, 10)

<% if @pagy == nil? && @pagy.count > @pagy.limit %>
<div class="mt-10">
<%== pagy_nav(@pagy) %>
</div>
<% end %>
<% if @novines.first == nil? %>
<% end %>
<% if @articles.first == nil? %>
Novine.where("novine_id IS ?", nil).first
<% if @posts.any? %>
  <% @posts.each do |post| %>

<% if @pagy == nil? %>
<% end %>
<% if @novines.first == nil %>
<% end %>
<br />
<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Novines</h1>
  <%= link_to "New novine", new_novine_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
<% @novines.each do |novine| %>
  <%= render novine %>
  <p>
    <%= link_to "Show this novine", novine, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </p>
<% end %>
