<%= link_to image_tag(n.image,
style:"width:14em; heigh:auto; nav-link; nav-right;"),
n.image %>
<% if @pagy.count > @pagy.limit %>
  <div class="mt-10">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>

<%= render @art %>

<%= link_to "Edit this art", edit_art_path(@art), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<%= link_to "Back to arts", arts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<div class="inline-block ml-2">
  <%= button_to "Destroy this art", @art, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
</div>
