<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div style="margin-bottom:2em"
     class="flex justify-between items-center">
      <% if user_signed_in? %>
        <%= link_to "Edit this art", edit_art_path(@art),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-1">
          <%= button_to "Destroy this art", art_path(@art), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          text-white 1bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Back to arts", arts_path,
      class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 1inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= link_to "New art", new_art_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
      </div>
    </div>
    <h3 class="text-4xl block font-medium
    mt-1 mb-3">
      <a href="/arts/<%= @art.id %>",
      class="nav-link"><%= @art.name %></a>
    </h3>
    <div style="margin-bottom:1.5em">
      <% @art.lists.order('created_at DESC').each do |n| %>
      <div style="margin-bottom:2em"
      class="row mt-4 clearfix">
        <div class="col-8 col-sm-8 col-md-9 col-lg-9">
        <strong class="block 1font-medium mb-1">
          <a href="/lists/<%= n.id %>",
          class="nav-link"><%= n.title %></a>
        </strong>
        <%= truncate(strip_tags(n.body.to_s), length:200) %>
        </div>
      <div style="margin-top:1.5em; margin-bottom:3em"
      class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
        <% if n.image.attached? %>
        <a href="/lists/<%= n.id %>",
          style="width:12em; heigh:auto" class="nav-link">
          <%= image_tag(n.image) %>
        </a>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="flex justify-between items-center">
      <% if user_signed_in? %>
        <%= link_to "Edit this art", edit_art_path(@art),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-1">
          <%= button_to "Destroy this art", art_path(@art), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          dark:text-white dark:text-slate-400 1bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Back to arts", arts_path,
      class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 1inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= link_to "New art", new_art_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
      </div>
    </div>
    <br />
  </div>
</div>
