<%= link_to image_tag(post.image,
style:"width:15em; heigh:auto"), post.image %>
<<<<<<< HEAD
<%== pagy_nav(@pagy) %>
<div style="margin-bottom:1.6em">
  <%= form_with(url: posts_path, method: :get,
data: {turbo_frame: "posts",
turbo_action: "advance"}) do |form| %>
  <%= form.label :search, "Search by post name:",
    class: "block mb-2" %>
    <div class="flex space-x-3">
      <%= form.text_field :search, class: "py-2 px-5
      rounded border ring-0 focus:ring-4
      focus:ring-orange-100 focus:shadow-none
      dark:text-slate-500 focus:border-orange-500 focus:outline-none",
      data: {action: "input->search-form#search"} %>

      <%= form.submit 'Search', class: "px-4 py-2 font-medium
      bg-orange-400 text-neutal-900 rounded flex items-center
      cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
      text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
    </div>
  <% end %>
</div>
=======
>>>>>>> a795affd102a1b7c35e78745c4c5e67144e2435e
query
@pagy, @records = pagy(collection, count: post_count)
<div style="margin-bottom:1.6em">
  <%= form_with(url: posts_path, method: :get,
data: {turbo_frame: "posts",
turbo_action: "advance"}) do |form| %>
  <%= form.label :search, "Search by post name:",
    class: "block mb-2" %>
    <div class="flex space-x-3">
      <%= form.text_field :search, class: "py-2 px-5
      rounded border ring-0 focus:ring-4
      focus:ring-orange-100 focus:shadow-none
      dark:text-slate-500 focus:border-orange-500 focus:outline-none",
      data: {action: "input->search-form#search"} %>

      <%= form.submit 'Search', class: "px-4 py-2 font-medium
      bg-orange-400 text-neutal-900 rounded flex items-center
      cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
      text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
    </div>
  <% end %>
</div>
<%= form_with url: posts_path,
  method: :get, local: true do %>
  <div class="flex space-x-3">
  <%= text_field_tag :query, params[:search],
    class: "py-2 px-4 rounded border ring-0
    focus:ring-4 focus:ring-orange-100 focus:shadow-none
    dark:text-slate-500 focus:border-orange-500 focus:outline-none",
    placeholder: "Search..." %>
  <%= submit_tag "Search", class: "px-4 py-2 font-medium
bg-orange-400 text-neutal-900 rounded flex items-center
cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
  </div>
<% end %>
<br>
<%= form_with(url: posts_path, method: :get,
data: {turbo_frame: "posts", turbo_action: "advance"}) do |form| %>
<%= form.label :search, "Search by post title and name:",
  class: "block mb-2" %>
<div class="flex space-x-3">
    <%= form.text_field :search,
    class: "py-2 px-4 rounded border ring-0
    focus:ring-4 focus:ring-orange-100 focus:shadow-none
    dark:text-slate-500 focus:border-orange-500 focus:outline-none",
    data: {action: "input->search-form#search"} %>

    <%= form.submit 'Search', class: "px-4 py-2 font-medium
bg-orange-400 text-neutal-900 rounded flex items-center
cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
</div>
<% end %>

<form class="headerSearch">
  <input class="headerSearch__input sc-input g-all-transitions-300"
  placeholder="Search" type="search" name="q"
  autocomplete="off" aria-label="Search"
  aria-autocomplete="list" aria-owns="searchMenuList">
  <button class="headerSearch__submit" type="submit">
    <div>
      <svg viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true">
        <path d="M10 2.25a7.75 7.75 0 1 0 4.924 13.735l5.546 5.545 1.06-1.06-5.545-5.546A7.75 7.75 0 0 0 10 2.25ZM3.75 10a6.25 6.25 0 1 1 12.5 0 6.25 6.25 0 0 1-12.5 0Z"
        fill="currentColor">
        </path>
      </svg>
    </div>
    <span class="sc-visuallyhidden">Search</span>
  </button>
</form>

|| name || body
&& params[:query].present?
  @posts = Post.where("title LIKE ? OR name LIKE ?
    OR name LIKE ?", "%#{params[:query]}%",
    "%#{params[:query]}%", "%#{params[:query]}%"

<div class="image image__lightOutline sc-artwork sc-artwork-placeholder-3 m-loaded" style="height: 100%; width: 100%;">
  <span style="background-image: url(&quot;https://al.sndcdn.com/labs-0fce701c-0-t500x500.jpg?q=YXJ0d29ya190eXBlOiBEQUlMWV9NSVgxCnVybnM6ICJzb3VuZGNsb3VkOnRyYWNrczo0NTgyMTQwMCIKdXJuczogInNvdW5kY2xvdWQ6dHJhY2tzOjIyNjY5NDU0MiIKdXJuczogInNvdW5kY2xvdWQ6dHJhY2tzOjE3OTE5NzE1MSIKdXJuczogInNvdW5kY2xvdWQ6dHJhY2tzOjE1OTMyMzA4Igp1cm5zOiAic291bmRjbG91ZDp0cmFja3M6NjQ2OTYxNDM2Igo%3D&quot;);
  width: 100%; height: 100%; opacity: 1;"
  class="sc-artwork sc-artwork-placeholder-3
  image__full g-opacity-transition"
  aria-label="Your Mix 1" aria-role="img">
  </span>
</div>
