<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Posts" %>

  <div style="margin-bottom:2em"
  class="flex justify-between items-center">
    <h1 class="dark:text-slate-400 font-bold text-4xl">
      Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div data-controller="dark-mode">
    <%= image_tag("_create-a.svg",
    data: { action: 'click->dark-mode#toggle'}) %>
  </div>
  <div style="margin-top:1.6em; margin-bottom:1.6em">
    <%= form_with(url: posts_path, method: :get,
  data: {turbo_frame: "posts",
  turbo_action: "advance"}) do |form| %>
    <%= form.label :search, "Search by post name:",
      class: "block mb-2" %>
      <div class="flex space-x-3">
        <%= form.text_field :search, class: "py-2 px-5
        rounded border ring-0 focus:ring-4
        focus:ring-orange-100 focus:shadow-none
        dark:text-slate-500 focus:border-orange-500 focus:outline-none",
        data: {action: "input->search-form#search"} %>

        <%= form.submit 'Search', class: "px-4 py-2 font-medium
        bg-orange-400 text-neutal-900 rounded flex items-center
        cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
        text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
      </div>
    <% end %>
  </div>
  <div style="margin-top:1.5em" class="row mt-4 clearfix">
  <% if @pagy.count > @pagy.limit
  %>
  <div class="mt-10">
    <%== @pagy.series_nav %>
  </div>
  <% end %>
  </div>
  <div id="posts" class="min-w-full">
    <% @posts.order('created_at').each do |post| %>
    <div style="margin-top:1.5em" class="row mt-4 clearfix">
      <div style="margin-bottom:0.7em" class="col-8 col-sm-8 col-md-9 col-lg-9">
        <h5 class="dark:text-slate-300 mt-0 mb-1">
          <a href="/posts/<%= post.id %>",
          class="nav-link"><%= post.title %></a>
        </h5>
        <%= truncate(strip_tags(post.body.to_s), length:250) %>
      </div>
      <div style="margin-bottom:1em"
      class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
        <% if post.image.attached? %>
        <a href="/posts/<%= post.id %>",
          style="width:12em; heigh:auto" class="nav-link">
          <%= image_tag(post.image) %>
        </a>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Edit this post", edit_post_path(post) %>
      <% end %>
    </div>
    <br />
    <% end %>
  </div>
  <div style="margin-top:1.5em" class="row mt-4 clearfix">
  <% if @pagy.count > @pagy.limit %>
  <div class="mt-10">
    <%== @pagy.series_nav %>
  </div>
  <% end %>
  </div>
  <% if user_signed_in? %>
  <div style="margin-top:1.6em; margin-bottom:1.6em"
  class="flex justify-between items-center">
    <%= link_to 'New post', new_post_path,
    class: "rounded-lg py-3 px-4 bg-blue-600
    text-white block font-medium" %>
  </div>
  <% end %>
</div>
